.container {
    max-width: 960;
    margin: '0 auto';
    padding: '0 16px';
    background-color: rgba(0, 51, 128, 0.405);
  }
  
  .header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 28px;
    padding-bottom: 28px;
    font-size: 20px;
    font-weight: 500;
  }
  